!gui.ui
!requirements.txt
*.pkl
*.csv
*.ods
*.odt
*.json
*.txt
*.ui
*.spec
*.pyc
opnpkl.py
opnpkl_gen.py
.idea/
__pycache__/
kwidget/__pycache__/
tools/__pycache__/
tools/__pycache__/*.pyc
saves/
name/
tests/
buttami.py

