
!gui.ui
!gui_option.ui
!gui_basiccolorselector.ui
!gui_calendar.ui
!kwidget/dialog_info/*
!kwidget/mydateedit/*
!requirements.txt
*.pkl
*.csv
*.ods
*.odt
*.json
*.txt
*.spec
*.pyc
*_old.*
*_temp.*
opnpkl.py
opnpkl_gen.py
.idea/
**/__pycache__/
kwidget/__pycache__/
tools/__pycache__/
tools/__pycache__/databaseMaker.cpython-36.pyc
saves/
name/
tests/
buttami.py
csv
/Prove/

